*{
    margin: 0;
    padding: 0;

}
/*Nav items*/

.sibi{
  height: 70px;
  width: 160px;
}

.nav-item.dropdown .btn{
  color: rgba(255,255,255,.55);

}
/*
.nav-item.dropdown .btn:hover {
    opacity: 0.7;
    color: hotpink;
}
*/
a.dropdown-item{
  color:#3332b1;
}
a.main{
  color: initial;
  text-decoration: none;
}

.container-fluid{
  background-color: #caafcb;
  font-size: medium; 
 
  }
  
  .fa:hover {
    opacity: 0.7;
    color: red;
}
  
.fa {
  padding: 20px;
 
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #4e16f766;
}
.card{
    width: 400px;
}

.card-img {
    width: 70%;
    height: 350px;
}
.card-title{
    font-family: SourceSansPro;
    color:brown;

}
.card-text{
    color: #333;
}



/* Footer */
.footer{
  text-align: center;
  color: #fff;
  padding:45px;
  background-color: #caafcb;
  margin-top: 15px;
}
a.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 25px;
}

a.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 25px;
}
i.fa-instagram {
  background: black;
  color: white;
  border-radius: 25px;  
}

 i.fa.fa-map-marker{
  font-size: 25px;
 
}
i.fa.fa-phone{
  font-size: 25px;
 
}
 i.fa.fa-envelope{
  font-size: 25px;
  margin-left: -10px;
 
}
i.fa.fa-thumbs-up{
  font-size: 30px;
 
}
 
 